{% extends 'base.html' %} {% block title %} {{blog.title}} {% endblock title %}
{% block body %}
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post">
          <div class="feature-img">
            <img class="img-fluid" src="/media/{{blog.image}}" alt="" />
          </div>
          <div class="blog_details">
            <h2 style="color: #2d2d2d">{{e.title}}</h2>
            <ul class="blog-info-link mt-3 mb-4">
              <li>
                <a href="#"><i class="fa fa-user"></i> {{blog.author}}</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-comments"></i> {{blog.timestamp}}</a
                >
              </li>
            </ul>
            <p class="excert">{{blog.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
